.chshghjcjc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Appcshjh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1080px;
  padding: 20px;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #d9534f; /* Error message color */
  margin-bottom: 10px;
}

/* Styles for the file input */
input[type="file"] {
  margin-bottom: 20px;
}

/* Styles for the buttons */
button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Styles for the image preview */
.Logoimage {
  height: auto;
  margin: 20px 0;

  border-radius: 5px;
}
.image-preview {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}
